@import "reset.css";
@import "modules.css";
@import "layouts.css";


body {
  margin: auto;
  width: 75%;
  background-color: black;
  font-family: 'Syne Tactile', cursive;

}

header {
  text-align: center;
  margin: 15px 0;
  padding: 5px; 
  font-size: 48px;
  text-shadow: maroon 2px 5px;
}

main {
  float: left;
  width: 960px;
  /* overflow: hidden; */
}

footer {
  color: white;
  padding: 30px;
  text-align: center;
}

